:root {
    --secondary-bg: hsl(130, 62%, 91%);
    --heading: hsl(129, 100%, 96%);
    --primary-bg: hsl(194, 100%, 35%);
    --primary-accent: hsl(199, 69%, 17%);
    --secondary-accent: hsl(244, 100%, 44%);
    --highlight: hsl(244, 100%, 44%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bg);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--heading);
    margin: 20px 0 40px 0;
}

.todo-app {
    background-color: var(--secondary-bg);
    box-shadow: 0px 2px 1px 0px hsl(129, 80%, 58%);
    width: 300px;
    height: 350px;
    border-radius: 8px;
    border-top: 3px solid var(--heading);
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    cursor: pointer;
    width: 100px;
    padding: 5px;
    margin: 10px;
    color: #194d2e;
    background-color: var(--secondary-accent);
    background-image: linear-gradient(hsl(105, 100%, 81%), hsl(129, 80%, 58%));
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-image: linear-gradient(hsl(105, 100%, 91%), hsl(129, 80%, 68%));
}

.large-btn {
    width: 80%;
    font-size: 1.2rem;
    align-self: center;
    justify-self: center;
}

.close-task-form-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.close-icon {
    width: 20px;
    height: 20px;
}

.task-form {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-bg);
    border-radius: 5px;
    padding: 15px;
    width: 300px;
    height: 350px;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.task-form-header {
    display: flex;
    justify-content: flex-end;
}

.task-form-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.task-form-footer {
    display: flex;
    justify-content: center;
}

.task-form-label,
#title-input,
#date-input,
#description-input {
    display: block;
}

.task-form-label {
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: bold;
}

#title-input,
#date-input,
#description-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 2px;
}

#confirm-close-dialog {
    padding: 10px;
    margin: 10px auto;
    border-radius: 15px;
}

.confirm-close-dialog-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.discard-message-text {
    font-weight: bold;
    font-size: 1.5rem;
}

#tasks-container {
    height: 100%;
    overflow-y: auto;
}

#tasks-container p {
    margin-bottom: .5rem;
}

.task {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px var(--primary-bg);
}

.hidden {
    display: none;
}

@media (min-width: 576px) {

    .todo-app,
    .task-form {
        width: 400px;
        height: 450px;
    }

    .task-form-label {
        font-size: 1.5rem;
    }

    #title-input,
    #date-input {
        height: 2rem;
    }

    #title-input,
    #date-input,
    #description-input {
        padding: 5px;
        margin-bottom: 20px;
    }
}